absl-py
astunparse
bitarray
blinker
cachetools
certifi
charset-normalizer
click
confluent-kafka
dnspython
Flask~=3.0.2
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
kafka-python
keras~=2.13.1
libclang
Markdown
MarkupSafe
ml-dtypes
numpy~=1.26.4
oauthlib
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
pymongo~=4.6.3
requests~=2.31.0
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorflow~=2.15.0
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
urllib3
Werkzeug
wrapt

matplotlib~=3.8.4