absl-py
astunparse
bitarray
blinker
cachetools
certifi
charset-normalizer
click
confluent-kafka
dnspython
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
kafka-python
keras
libclang
Markdown
MarkupSafe
ml-dtypes
numpy
oauthlib
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
pymongo
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
urllib3
Werkzeug
wrapt
